/*

MEDA QUERY MANAGER

0 - 600px       Phone
600px - 900px   Tablet Portrait
900px - 1200px  Tablet Landscape
[1200 - 1800]   is where our normal styles apply
1800px +        Big Desktop

$breakpoint argument choices:
- phone
- tab-portrait
- tab-landscape
- big-desktop

1em - 16px

We want to use em here because units are not affected by the root font-size. Rendering rem useless
They are only affected by the browser font-size which is why we use em units here

*/
/*

This was our first approach, but instead of creating a new mixin for each breakpoint, we could build 1 breadkpoint like blow

@mixin respond-phone {
    // @content allows us to pass all the CSS that is inside the usage of this mixin into the media query
    @media (max-width: 600px) { @content }
}
*/
/* Resets all browser specific margin and padding */
/* star selector selects all elements */
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  /* Inherits from body. Allows All elements to have box-szing */
  box-sizing: inherit; }

html {
  /* Setting font-size to be 10px will make it easy to calculate rem units for everything else */
  /* font-size: 10px; */
  /* Since browser font size is usually 16px and we effectively want font-size to be 10px. 62.5% of 16px will give us 10px*/
  font-size: 62.5%;
  /*
    
    The order of these actually matter because a screen size that is for example 500px which is inside the range of both tab-landscape and tab-portrait 
    a 500px screen size will match both tab-landscape and tab-portrait.
    When a screen matches multiple sizes, we always want to select the smallest size.
    This is why the tab-portrait is defined after tab-landscape

    */ }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  /* Border-box will include padding and border into calculation of width and height of elements */
  box-sizing: border-box;
  padding: 3rem; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Defines an animation called moveInLeft. */
@keyframes moveInLeft {
  /* Starting frame */
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translate(1rem); }
  /* Ending frame */
  100% {
    opacity: 1;
    transform: translate(0); } }

/* Can also use "from" and "to" to refer to 0% and 100% */
@keyframes moveInRight {
  from {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translate(-1rem); }
  to {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

body {
  /* Lato is referenced in the html doc as a link. sans-serif is backup */
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  /* Convert all px units to rem */
  /* font-size: 16px; */
  font-size: 1.6rem;
  color: #777;
  line-height: 1.7; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6rem;
  /* Backface-visiblity defines if the backside of a transformed element is visible */
  /* Doesn't seem like I need it for the effect */
  /* backface-visibility: hidden; */ }
  .heading-primary--main {
    /* Will treat the span as a block. So it will start on a new line */
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    /* This can be shorthanded to: animation: moveInLeft 2s ease-out */
    /* Refers to the name of the keyframes animation you want to use */
    animation-name: moveInLeft;
    /* How long the animation will last for */
    animation-duration: 2s;
    /* Defines the where the speed ramp is for the animation */
    /* Ease out will slow down towards the end of the animation */
    animation-timing-function: ease-out; }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-family: 5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 2s ease-out; }
    @media (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: .5rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(10deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-bottom-huge {
  margin-bottom: 10rem !important; }

.btn {
  /* These are psuedo classes. */
  /* Psuedo classes are different states of an element. */
  /* :link is unvisited links */
  /* :visited is visited links */
  /* :hover is on hover */
  /* :active is when mouse is clicked on it */
  /* These pseudo classes must be applied in this order */
  /* This is a pseudo element. */
  /* Pseudo elements appear inside the element's innerHTML or content on the DOM */
  /* The idea here is to create an element behind the button of the same size. So that we can manipulate it for cool effects */ }
  .btn, .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    /* Inline elements normally do not allow for setting width, height, padding, margins. This inline-block allows it */
    /* Inline-block will not start a new line like a block element will */
    display: inline-block;
    /* Padding can be set because display is inline-block (since this is <a> is an inline element) */
    padding: 1.5rem 4rem;
    border-radius: 5rem;
    /* Transition will smoothly animate values that will change. Changes can be triggered by psuedo classes :hover, :active , etc*/
    /* This is saying: "For all CSS properties, smoothly animate the values within .2 seconds" */
    /* This needs to be applied to the "initial state" */
    transition: all 0.2s;
    position: relative;
    /* You can specify specically which value to smoothly animate like this: */
    /*  transition: transform .2s;  <- This is saying "for only the transform value, smoothly animate it within .2 seconds" */
    border: none;
    cursor: pointer; }
  .btn:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    /* CONFUSING! */
    /* Order is <class>:<pseudo class>::<pseudo element> */
    /* This is saying "I want to select the ::after element of .btn when it is hover state */ }
    .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      /* This will make it fade out. */
      /* The actual fading is done by the transition property on the pseudo element */
      opacity: 0; }
  .btn:active, .btn:focus {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    outline: none; }
  .btn--white {
    background-color: #fff;
    color: #777; }
    .btn--white::after {
      background-color: #fff; }
  .btn::after {
    /* Need to specify content property for pseudo elements to be displayed */
    content: "";
    background-color: #fff;
    /* Don't need this. This is inherited from .btn */
    /* display: inline-block; */
    /* Height and width are all relative to the original element */
    /* Setting height and width to 100% will make it the same size as .btn */
    height: 100%;
    width: 100%;
    border-radius: 5rem;
    /* Since this pseudo element will appear inside the .btn it will appear as if we added more content to the .btn */
    /* Instead we need this pseudo element to be in the exact same position as .btn hence position: absolute; top: 0; left: 0; */
    position: absolute;
    top: 0;
    left: 0;
    /* Will ensure that this psuedo element is behind the .btn */
    z-index: -1;
    transition: all 0.3s; }
  .btn--green {
    background-color: #55c57a;
    color: #fff; }
    .btn--green::after {
      background-color: #55c57a; }
  .btn--animated {
    /* .75s is delay. So this animation will happen after .75s has passed since loading */
    animation: moveInBottom 0.5s ease-out 0.75s;
    /* Animation fill mode: Configures what values are applied by the animation before and after it is executing. */
    /* Backwards will apply the first keyframe styles before animation starts  */
    /* If this is not applied, then the button will be visible, then dissapear for the animation. We want to button to start invisible. */
    /* CONFUSING! Not sure why this is not needed for the spans in the <h1> */
    animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #55c57a;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem; }
    @media (max-width: 56.25em) {
      .composition__photo {
        float: left;
        position: relative;
        width: 33.3333333333%;
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2); } }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
      @media (max-width: 56.25em) {
        .composition__photo--p1 {
          top: 0; } }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
      @media (max-width: 56.25em) {
        .composition__photo--p2 {
          top: 0; } }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
      @media (max-width: 56.25em) {
        .composition__photo--p3 {
          top: 0;
          left: 0; } }
    .composition__photo:hover {
      outline: 1.5rem solid #55c57a;
      transform: scale(1.05) translateY(-1rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }
  .composition:hover .composition__photo--p1:not(:hover) {
    transform: translate(-10rem, -10rem); }
  .composition:hover .composition__photo--p2:not(:hover) {
    transform: translate(10rem, -10rem); }
  .composition:hover .composition__photo--p3:not(:hover) {
    transform: translate(10rem, 10rem); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: all 0.3s; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.card {
  perspective: 150rem;
  position: relative;
  height: 50rem; }
  .card__side {
    height: 52rem;
    transition: all 0.7s ease;
    color: white;
    font-size: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    overflow: hidden; }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__picture-1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5.jpg); }
    .card__picture-2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../img/nat-6.jpg); }
    .card__picture-3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/nat-7.jpg); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%;
    text-align: right; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 185, 0, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(126, 213, 111, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(41, 152, 255, 0.85)); }
  .card__details {
    color: #777;
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    text-align: center;
    margin-bottom: 8rem;
    color: white; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }
  @media (max-width: 56.25em) {
    .card {
      height: auto;
      border-radius: 3px;
      background-color: #fff;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
      .card__side {
        height: auto;
        position: relative;
        box-shadow: none; }
        .card__side--back {
          transform: rotateY(0);
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%); }
      .card:hover .card__side--front {
        transform: rotateY(0); }
      .card__details {
        padding: 1rem 3rem; }
      .card__cta {
        position: relative;
        top: 0%;
        left: 0;
        transform: translate(0);
        width: 100%;
        padding: 7rem 4rem 4rem 4rem; }
      .card__price-box {
        margin-bottom: 3rem; }
      .card__price-value {
        font-size: 4rem; } }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 3px;
  padding: 6rem;
  font-size: 1.6rem;
  padding-left: 9rem;
  transform: skewX(-12deg); }
  .story:not(:last-child) {
    margin-bottom: 6rem; }
  .story__shape {
    width: 15rem;
    height: 15rem;
    background-color: orangered;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative; }
  .story__image {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    backface-visibility: hidden;
    transition: all .5s; }
  .story__text {
    transform: skewX(12deg); }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__image {
    backface-visibility: hidden;
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .3;
  overflow: hidden; }
  .bg-video__content {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  display: block;
  width: 90%;
  border: none;
  border-bottom: 3px solid transparent; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #55c57a; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #ff7730; }
  .form__input::-webkit-input-placeholder {
    color: #999; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  display: block;
  margin-left: 2rem;
  margin-top: .7rem;
  transition: all .2s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__radio-group {
  width: 49%;
  display: inline-block; }

.form__radio-input {
  display: none; }

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem; }

.form__radio-button {
  height: 3rem;
  width: 3rem;
  display: inline-block;
  border: 5px solid #55c57a;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: -.4rem; }
  .form__radio-button::after {
    content: "";
    display: block;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #55c57a;
    opacity: 0;
    transition: opacity .2s; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

.popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 3000;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  .popup__content {
    position: absolute;
    width: 75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    background-color: #fff;
    box-shadow: 0 3rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    overflow: hidden;
    transition: all .3s;
    opacity: 0;
    display: table; }
  .popup__left {
    width: 33.3333333%;
    display: table-cell; }
  .popup__right {
    padding: 3rem 5rem;
    width: 66.6666667%;
    display: table-cell;
    vertical-align: middle; }
  .popup__img {
    display: block;
    width: 100%; }
  .popup__text {
    margin-bottom: 4rem;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #eee;
    hyphens: auto; }
  .popup__close {
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    line-height: 1;
    font-size: 3rem;
    color: #777; }
    .popup__close, .popup__close:visited, .popup__close:active {
      text-decoration: none; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero-small.jpg");
  /* Ensures that the background completely covers the element even if it has to cut or stretch */
  background-size: cover;
  /* Will not crop from the top of background when re-sizing. Will crop from all other sides */
  background-position: top;
  /* Clip path specifices visible region of element*/
  /* Polygon specifies all vertices. Percents are relative to original sizing of element. It is specifying 4 verices here*/
  /* Vertices are x y */
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  /* Position relative can be understood as an anchor or reference point for children who have position absolute */
  position: relative; }
  @media (min-resolution: 192dpi) and (min-width: 600px) {
    .header {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8)), url(../img/hero.jpg); } }
  @media (min-width: 2000px) {
    .header {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8)), url(../img/hero.jpg); } }
  @media (max-width: 37.5em) {
    .header {
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); } }
  .header__logo-box {
    /* Position absolute will start positioning from the nearest element whose position is relative. */
    /* In this case, .logo-box is positioned relative to .header */
    position: absolute;
    top: 4rem;
    left: 4rem;
    animation: fadeIn .5s ease-out; }
  .header__logo {
    /* Only need to specify 1 size dimension for imgs. Browser will calculate the other diemension. */
    height: 3.5rem; }
  .header__text-box {
    /* Position is relative to .header */
    position: absolute;
    /* Top and left here will position the top left corner of the element right at the middle of the screen */
    top: 40%;
    left: 50%;
    /* Trick to center element. -50% is relative to the element itself. This is to compensate for the positioning */
    transform: translate(-50%, -50%);
    /* Centers all text inside .text-box (including text inside h1, a, etc tags) */
    text-align: center; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 3rem; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc((2 * (100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc((2 * (100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc((3 * (100% - 3 * 6rem) / 4) + 2 * 6rem); }

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: #f7f7f7; }
  @media (max-width: 56.25em) {
    .footer {
      padding: 8rem 0; } }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .footer__logo-box {
        margin-bottom: 6rem; } }
  .footer__logo {
    width: 15rem;
    height: auto; }
  .footer__navigation {
    border-top: 1px solid #777;
    padding-top: 2rem;
    display: inline-block; }
    @media (max-width: 56.25em) {
      .footer__navigation {
        width: 100%;
        text-align: center; } }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: #f7f7f7;
    text-decoration: none;
    display: inline-block;
    transition: all .2s;
    background-color: #333; }
  .footer__link:hover, .footer__link:active {
    color: #55c57a;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.3); }
  .footer__copyright {
    border-top: 1px solid #777;
    padding-top: 2rem;
    width: 80%;
    float: right; }
    @media (max-width: 56.25em) {
      .footer__copyright {
        width: 100%;
        float: none; } }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.13);
  text-align: center; }
  @media (max-width: 56.25em) {
    .navigation__button {
      top: 4rem;
      right: 4rem; } }
  @media (max-width: 37.5em) {
    .navigation__button {
      top: 3.5rem;
      right: 3.5rem; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.4rem;
  background-image: radial-gradient(#7ed56f, #28b485);
  z-index: 1000;
  transition: transform .4s; }
  @media (max-width: 56.25em) {
    .navigation__background {
      top: 4.5rem;
      right: 4.5rem; } }
  @media (max-width: 37.5em) {
    .navigation__background {
      top: 3.5rem;
      right: 3.5rem; } }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.4s cubic-bezier(0.83, 0, 0.17, 1); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 240%;
  transition: all .4s; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #55c57a;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    top: 3.5rem;
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block;
    transition: all .3s; }
  .navigation__icon::before, .navigation__icon::after {
    position: absolute;
    left: 0;
    content: ""; }
  .navigation__icon::before {
    top: -1rem; }
  .navigation__icon::after {
    top: 1rem; }

.navigation__button:hover > .navigation__icon:before {
  top: -1.2rem; }

.navigation__button:hover > .navigation__icon:after {
  top: 1.2rem; }

.navigation__checkbox:checked + .navigation__button > .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button > .navigation__icon:before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button > .navigation__icon:after {
  top: 0;
  transform: rotate(-135deg); }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }
  @media (max-width: 56.25em) {
    .section-about {
      padding: 20rem 0; } }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/nat-4.jpg");
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem; }
  .section-features > * {
    transform: skewY(7deg); }
  @media (max-width: 56.25em) {
    .section-features {
      padding: 15rem 0; } }

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 10rem 0;
  margin-top: -10rem;
  text-align: center; }
  @media (max-width: 56.25em) {
    .section-tours {
      padding: 20rem 0 5rem 0; } }

.section-stories {
  position: relative;
  padding: 15rem 0; }
  @media (max-width: 56.25em) {
    .section-stories {
      padding: 10rem 0; } }

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url("../img/nat-10.jpg");
  background-size: 100%;
  height: 50rem;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
  .book__form {
    width: 50%;
    padding: 6rem; }

/* Section 3 Notes */
/* 

===== HOW ARE UNITS CONVERTED TO FINAL VALUE? ===== 

All calculations will result in a final px (percentages and relative units are always caluclated to px)
- % (fonts) = x% * (parent's font-size)
- % (distance) = x% (parent's computed width/height)
- em (fonts) = x * (parent's computed font size)
    - 3em = 3 * (parent's computed font size)
- em (distance) = x * (current element's font size)
- rem = x * (root computed font size)
- vh = x percent * viewport height
- vw = x percent * viewport width

- Browsers specify root font-size (user agent): 16px

- Properties related to text are all inherited (ie. font-size, line-height, etc)
- When a property is inherited. It gets the computed value of it's parent element
- If there is no cascaded value (declared value), it checks if it is inherited, if it is not inherited, it takes the default value

=====  USING REM INSTEAD OF PX ===== 

- Note: REM is not supported for older IE browsers. Use this method with caution

- It is good practice to always use rem units instead of px. This is to allow for things to scale up and down based on the root font-size instead of hard coding in pixels
- Using rem units instead of px will preserve spacing ratios between elements

===== POSITIONING ===== 

- Relative:
    - Considered "normal flow"
    - Elements are layed out in natural order according to code

- Floats:
    - Will take element out of normal flow and move it as far as possible towards parent container
    - Will stack on other floated elements
    - Will cause other elements to wrap around floated elements
    - Container will not adjust it's height to the element. This can be fixed with "clear fixes"

- Absolute:
    - Will take element out of normal flow and position it relative the nearest parent that is not statically positioned (ie. relative, absolute)
    - No impact on surrounding content or elements
    - Can overlap with surrounding elements

===== BEM ===== 

Block-Element-Modififer Notation

- BEM is a way to structure and build CSS classes in a composable way (component based)
- The notation is defined as follows:

<block>__<element>--<modifier>

- Block: standalone component that is meaningful on it's own
- Element: part of a block that has no standalone meaning
- Modifier: a different version of a block or element


===== SECTION 4 - SASS INTRO ===== 

- Sass is a CSS Pre-processor
    - Meaning that Sass is built on top of CSS that adds more features (ie. nesting, variables, functions)
    - To start using SASS (.scss files) we first need to configure it, and have it compile it down to CSS

Note: There is a different between SCSS and SASS. They're essentially the same thing with different syntaxes. SCSS is more similar to CSS and so converting it back to CSS visually is easier.

- SCSS allows us to use // for comments


Variables:
    - Define variable with $
        $variableName: #00000

Nesting:

    Before SCSS:

    .navigation li {
        ...
    }

    With SCSS:

    .navigation {
        li {
            ...
        }
    }

- & means the selector at this current point 

    .navigation {
        li {
            &:hover {
                // & refers to .navigation li
            }
        }
    }

- You can also use & literally as it will literally translate to the current selector

.btn {
    &--white {
        // This will translate to .btn--white, so you can move all the code in .btn--white in here
    }
}

.btn--white {

}



Mixins:
- Use mixins when you notice repeatable code
- a re-usable block of code
- kind of like a multi line variable

@mixin <mixin name> {
    <mixin content>
}

.example {
    @include <mixin name>
}

ie). Mixin for clear fixes

@mixin clearFix {
    &::after {
        content: "";
        clear: both;
        display: table;
    }
}

.example {
    @include clearFix; 
}

- Mixins can alo take in arguments

@mixin <mixin name>($<mixin arg name>) {
    text-decoration: none;
    color: $<mixin arg name>
}

==== Aside: Floats and clear fixes: ====

- elements that float do not naturally contribute to their containers height. To fix this issue, people use "clear fixes"

To make the container of floated elements have height to fit the content, you need to do the following to the container element:

.container::after {
    content: "";
    clear: both;
    display: table;
}

- This is a good candidate to be a mixin because this can be re-used in many unrelated containers

========================================


Functions:
- Functions can take in arguments and return a value

@function <function name>($arg, $arg2) {
    @return $arg, $arg2;
}


Extends;
- Very similar to mixins. As they have the ability to get rid of repeatable code.
- Allows you to extend css rules
- Use when pieces of code are "inherently or thematically" related (ie. all buttons, etc)

%<extendable name> {
    <extendable content>
}

.example {
    .li {
        @extend %<extendable name>;
    }
}

- NOTE: Extends and mixins will normally have no difference functionally. However the diffrence is in how they are compiled down to CSS.
- When you write @extend %<extendable name>; It is grabbing the current selector at that level and applying that selector to the set of rules defined in the extendable.
- When you write @include <mixin name>; you are simply copying the piece of mixin code into that selector


==== Installing SASS ====

- Install npm package: node-sass --save-dev

==== Compiling SASS to CSS ====

- Run node-sass script:
    node-sass <input file> <output file>
- Add -w flag to watch for scss changes
    node-sass <input file> <output file> -w
- Install live server (or use VSCode extension) to hot reload for file changes
    npm i live-server -g
- Run live server on root of project


===== Folder Structure =====
- We want to split related scss into different files

/abstracts : for anything that doesn't output CSS (ie. functions, mixins, variables)
/base : anything that is used across the entire website (ie. resets, typography, animations)
/components : re-usable standalone indenpendent pieces of code
/layoug : anything that has to do with page layout

main.scss : imports all files from above directories

===== Centering a block element inside another block element trick ====

set margin: 0 auto;

This will make top and bottom margins 0
Setting the left and right margins to auto will cause the browser to auto-matically fill all the possible space with margin with the same value for both. Hence centering it.


===== Media Queries ====

Desktop First Approach: Use max-width
Mobile First Approach: Use min-width

 Media Queries don't add any specificy

 If a screensize matches multiple ranges of media queries, all the styles in all matching queries will be applied.
 If there are conflicting styles, the last one defined will be applied

 Decididing where to put breakpoins:

 Bad Way: set a breakpoint using the exact screen size of a product

 Good Way: based on a grouping of the most used devices screen sizes and setting a breakpoint in between those groupings

 Best Way: based on where your design breaks

==== Responsive Images ====

3 Kinds of Responsive Images: 
- Resolution Switching = Browser decides based on screen pixel density and screen size
    - Browser needs information on the image width as well as the size you want the image to be in that screen width

 <img srcset="img/nat-1.jpg 300w, img/nat-1-large 1000w"
        sizes="(max-width: 900px) 20vw, (max-width: 600px) 30vw, 300px"
        alt="Photo 1"
        class="composition__photo composition__photo--p1">

- Density Switching (usually based on screen RESOLUTION):
    - Same image but different sizes
    - 1x, 2x, 3x 
    - Serve larger image for higher density screens
    - Server smaller image for lower density screens
    - Through HTML: <img srcset="path/to/img 1x path/to/img 2x" >
    
- Art Direction = entirely different images for different screen WIDTH
    - Browser doesn't make decisions
    <picture class="footer__logo">
        <source srcset="img/logo-green-small-1x.png 1x, img/logo-green-small-2x.png 2x"
                media="(max-width: 37.5em)">
        <!-- Need atleast 1 img -->
        <img srcset="img/logo-green-1x.png 1x, img/logo-green-2x.png 2x" alt="Full logo" class="footer__logo">           
    </picture>

2 ways of implementing it:
- Through HTML
- Through CSS

    @media (min-resolution: 192dpi) and (min-width: 600px) {
        background-image: linear-gradient(
            to right bottom,
            rgba($color-secondary-light, 0.8),
            rgba($color-secondary-dark, 0.8)),
        url(../img/hero.jpg);
    }

==== Use @supports query to implement graceful degradation ====

==== Build Scripts ====

"watch:sass": "node-sass sass/main.scss css/style.css -w",  
    "devserver": "live-server",
    "start": "npm-run-all --parallel devserver watch:sass",

    // Compile SASS to CSS
    "compile:sass": "node-sass sass/main.scss css/style.comp.css",
    // Include icon-fonts so the browser only has to make 1 request for CSS
    "concat:css": "concat -o css/style.concat.css css/icon-fonts.css css/style.comp.css",
    // Add Prefix properties
    "prefix:css": "postcss --use autoprefixer -b 'last 10 versions css/style.concat.css -o css/sctyle.prefix.css",
    // Minify
    "compress:css": "node-sass css/style.prefix.css css/style.css --output-style compressed",
    "build:css": "node-run-all compile:sass concat:sass prefix:css compress:css"

==== Ending Touches/Noes ====
- :selection = pseudo class that applies styles to selected text
- Should include 'only screen' to media queries so they don't get applied when printing:
    @media only screen and (min-width) ....
- Need this tag to make responsive design work:
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
Basically tells the browser to render our content to the width of the device. If we don't have this then the browser will zoom out to the biggest version of our site
- Media Query for detecing if hovering is possible
    @media only screen and (max-width: xxx),
            only screen and (hover: hover) {
                .....
            }
If want to detect if hover is not possible use: hover: none


*/
