/* Resets all browser specific margin and padding */
/* star selector selects all elements */
*,
*:after,
*:before {
    margin: 0;
    padding: 0;

    /* Inherits from body. Allows All elements to have box-szing */
    box-sizing: inherit;
}

html {
    /* Setting font-size to be 10px will make it easy to calculate rem units for everything else */
    /* font-size: 10px; */

    /* Since browser font size is usually 16px and we effectively want font-size to be 10px. 62.5% of 16px will give us 10px*/
    // This defines what 1rem is.
    font-size: 62.5%
}

body {
    /* Border-box will include padding and border into calculation of width and height of elements */
    box-sizing: border-box;
}