body {
    /* Lato is referenced in the html doc as a link. sans-serif is backup */
    font-family: 'Lato', sans-serif;
    
    font-weight: 400;
    /* Convert all px units to rem */
    /* font-size: 16px; */
    font-size: 1.6rem;
    color: $color-grey-dark;
    line-height: 1.7;
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    margin-bottom: 6rem; 

    /* Backface-visiblity defines if the backside of a transformed element is visible */
    /* Doesn't seem like I need it for the effect */
    /* backface-visibility: hidden; */

    &--main {
        /* Will treat the span as a block. So it will start on a new line */
        display: block;
    
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
    
        /* This can be shorthanded to: animation: moveInLeft 2s ease-out */
        /* Refers to the name of the keyframes animation you want to use */
        animation-name: moveInLeft;
    
        /* How long the animation will last for */
        animation-duration: 2s;
    
        /* Defines the where the speed ramp is for the animation */
        /* Ease out will slow down towards the end of the animation */
        animation-timing-function: ease-out;
    }
    
    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
        animation: moveInRight 2s ease-out;
    }
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    display: inline-block;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;

    &:hover {
        transform: skewY(2deg) skewX(10deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }
}

.heading-tertiary {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: $default-font-size;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}