.composition {
    position: relative;

    &__photo {
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        border-radius: 2px;
        position: absolute;
        z-index: 10;
        // For z-index transition
        transition: all .2s;
        outline-offset: 2rem;

        &--p1 {
            left: 0;
            top: -2rem;
        }

        &--p2 {
            right: 0;
            top: 2rem;
        }

        &--p3 {
            left: 20%;
            top: 10rem;
        }

        &:hover {
            outline: 1.5rem solid $color-primary;
            transform: scale(1.05) translateY(-1rem);
            box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
            // This is lets the picture pop up when hovered
            z-index: 20;
        }
    }

    // This will select all the elements that are not hovered within .composition
    // .composition:hover .composition__photo:not(:hover)
    &:hover &__photo:not(:hover) {
        transform: scale(.9);
    }

    &:hover &__photo--p1:not(:hover) {
        transform: translate(-10rem, -10rem);
    }

    &:hover &__photo--p2:not(:hover) {
        transform: translate(10rem, -10rem);
    }

    &:hover &__photo--p3:not(:hover) {
        transform: translate(10rem, 10rem);
    }
}